<h1>Member Detail Component</h1>
Membro carregado:
{{ selected_menber.name }} - {{ selected_menber.surname }}
<p>selected id ={{ selected_id }}</p>

<!-- consumindo o formulario do banco de dados -->
<!-- não deixa alterar o campo  -->
<input type="text" [(ngModel)]="selected_menber.id" readonly />
<input type="text" [(ngModel)]="selected_menber.name" />
<input type="text" [(ngModel)]="selected_menber.surname" />
<input type="text" [(ngModel)]="selected_menber.phone" />
<button (click)="update()">Update Member</button>
<button (click)="delete()">Deletar Member</button>
<button (click)="newMember()">Novo</button>
