gitignore
venv
instalar o python
python -m venv venv
para ativar o python
PS C:\Casali\Programacao curso e projetos vscoude\PROJETOS VS COUDE\Angular com Django\back django\venv\Scripts> .\activate

instalar o django
pip install Django==4.1.7
para testar digita python na pasta principal
import django
para ver a versão django.VERSION
projeto django-admin startproject blog (cria pasta)